*.pyc
yarn-error.log
_modules
emelem/assets/coverage/*
changelog.sh
.DS_Store
.coverage
_build
_static
_images
_modules
env_py3
.eggs
build
*.db
tmp
emelem_config.py
local_config.py
env
dist
emelem.egg-info/
app.db
*.bak
.idea
*.sqllite
.vscode
.python-version
*~

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log
yarn.lock
emelem/assets/version_info.json

